.btn {
    width: 32px;
    height: 32px;
    border: 1px solid #087f5b;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: 0.2rem;
}

.btn:hover {
    background-color: #087f5b;
}

.btn.selected {
    background-color: #6d706f;
    color: #fff;
}

.points {
    color: #087f5b;
    font-size: 2rem;
    font-weight: 800;
    margin: 0.5rem;
}

/*
#ced4da
#868e96
#087f5b
*/
